[user]
    email = yubo56@gmail.com
    name = Yubo Su
[push]
    default = simple
    autoSetupRemote = true
[pull]
    rebase = false
[color]
    diff = always
    status = always
    branch = always
[merge]
    conflictstyle = diff3
[core]
    editor = vim
    excludesfile = ~/.globalgitignore
[alias]
    al = config --get-regex alias
    bn = rev-parse --abbrev-ref HEAD

    # add cwd vs add all
    a = !cd ${GIT_PREFIX:-.} && git add . && git s
    aa = !git add . && git s
    c = commit -m
    ca = commit -a -m
    s = status
    l = log
    lg = log --graph --decorate --oneline
    rc = rm --cached

    f = fetch -p
    p = push
    pf = push --force
    pu = !git p --set-upstream origin $(git bn)
    puf = !git p --set-upstream origin $(git bn) --force
    pl = pull
    plf = pull --force
    pms = pull origin master
    pm = pull origin main
    mbs = merge-base HEAD origin/master
    mb = merge-base HEAD origin/main

    st = stash
    sa = stash apply
    rh = reset --hard HEAD
    rh1= reset --hard HEAD^1
    rhms = reset --hard origin/master
    rhm = reset --hard origin/main

    b = branch
    bd = branch -D
    bdr = !git branch -D $(git branch --no-color --no-column | grep -v '^\\*')
    bda = !git cm && git bdr
    ch = checkout
    cms = checkout master
    cm = checkout main
    cb = checkout -b
    dh1 = diff HEAD^1
    d = "!f() { git diff ${1:-HEAD}; }; f"

    dm = !git diff $(git mb)
    plp = !git pull && git fetch -p && git gc && git prune
    pmp = !git pm --no-edit && git p
    sps = !git stash && git pl && git sa
    spms = !git stash && git pm && git sa
    bdm = !export _CURR_GIT=$(git bn) && git cmp && git branch -D $_CURR_GIT
    cmsp = !git ch master && git plp
    cmp = !git ch main && git plp

    deletehistory = !git checkout --orphan _master && git add -A && git commit -am "initial" && git branch -D master && git branch -m master && git push --set-upstream origin $(git bn) --force
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
