URxvt*transparent: true
URxvt*shading: 50
URxvt*scrollBar: false
! URxvt*font: xft:xos4 Terminus-17
URxvt*font: xft:Source Code Pro Medium:size=13
URxvt*foreground: rgb:b9/80/00
URxvt*background: black

! disable urxvt perl extensions
URxvt.perl-ext:
URxvt.perl-ext-common:

! neutralize highlight blue a bit
! command to print all colors out
! x=`tput op` y=`printf %76s`;for i in {0..256};do o=00$i;echo -e ${o:${#o}-3:3} `tput setaf $i;tput setab $i`${y// /=}$x;done
URxvt.color4: cyan
URxvt.color12: #1f77dd

! disable "keycap picture insert mode"
URxvt.iso14755: false
URxvt.iso14755_52: false

!Xcursor
Xcursor.theme: whiteglass
Xcursor.size: 80

!locale
Xmessage*font: -misc-dejavu sans-medium-r-*-*-26-*-*-*-*-*-*-*

XFontSel*menu*showUnselectable: false
XFontSel*sampleText.background: TEXTBG
XFontSel*MenuButton.shadowWidth: 0
XFontsel*Toggle*ToggleStyle: check
XFontsel*MenuButton*Justify: left
XFontsel*MenuButton*MenuButtonStyle: select
xfontsel*Font: xft:Inconsolata:size=12:antialias=true:hinting=true
